* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
h1{
    font-size: 65px;
    font-family: 'Caprasimo', cursive;
    color: #FFFF;
    position: absolute;
    left: 400px;
    top: 45px;
}
.barra-nav{
  background-color: #000;
  border-top: 3px solid #FFFF;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
}
li{
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.boton-categoria{
  border: 0;
  background-color: #FFFF;
  color: #000;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 2px solid #FFFF;
}
.boton-categoria:hover{
  background-color: #000;
  color: #FFFF;
}
header {
    background-color: #000;
    height: 200px; 
    overflow: hidden;
}
.contenedor-camisetas{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.camiseta-detalles{
  background-color: #000;
  color: #FFFF;
  padding: 5rem;
  border-radius: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.camiseta-agregar{
  border: 0;
  background-color: #FFFF;
  color: #000;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 2px solid #FFFF;
}
.camiseta-agregar:hover{
  background-color: #000;
  color: #FFFF;
}
#carrito{
  background-color: #000;
  color: #FFFF;
}
.h2-carrito{
  font-size: 30px;
  position: relative;
  left: 5rem;
}
.h3-total{
  font-size: 25px;
  margin-top: 0.8rem;
}
#btn-comprar-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}
#btn-comprar{
  border: 0;
  background-color: #FFFF;
  color: #000;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 2px solid #FFFF;
  margin-top: 20px; 
}
#btn-comprar:hover{
  background-color: #000;
  color: #FFFF;
}
footer{
  margin-top: 2rem;
}
.disabled{
  display: none;
}
#formulario-compra{
  background-color: #000;
  color: #FFFF;
}
.h3-formulario{
  position: relative;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.boton-confirmar{
  border: 0;
  background-color: #FFFF;
  color: #000;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 2px solid #FFFF;
  margin-top: 20px; 
}
.boton-confirmar:hover{
  background-color: #000;
  color: #FFFF;
}
.boton-cancelar{
  border: 0;
  background-color: #FFFF;
  color: #000;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 2px solid #FFFF;
  margin-top: 20px; 
}
.boton-cancelar:hover{
  background-color: #000;
  color: #FFFF;
}
@media (max-width: 806px){
  body{
    overflow-x: hidden;
  }
  header{
    overflow-x: hidden;
  }
  main{
    overflow-x: hidden;
  }
  h1{
    font-size: 45px;
    left: 18rem;
    top: 4rem;
  }
  .diegologo{
    position: relative;
    left: -5rem;
  }
}
@media (max-width:675px){
  .camiseta-detalles{
    padding: 3rem;
    border-radius: 5rem;
  }
  .contenedor-camisetas{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width:569px){
  h1{
    font-size: 35px;
  }
}
@media (max-width:444px){
  h1{
    left: 12rem;
  }
  .diegologo{
    position: relative;
    bottom: -3.5rem;
    width: 60%;
    height: auto;
  }
}
@media (max-width: 396px){
  h1{
    left: 10rem;
  }
}
@media (max-width: 348px){
  h1{
    left: 8rem;
  }
}
